<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
  <style>
    img {
      padding-right: 20px;
    }
    .responsive {
      max-width: 100%;
      max-height: 350px;
    }
  </style>
</html>

