{{ define "main" }}
  <div role="main" class="container" id="top">
    <div class="row">
      <div class="col-3 px-md-5">
        <img src="img/me.jpeg" class="rounded pull-left responsive">
      </div>
      <div class="col-9 px-md-5">
        <p>Hi all, I am Marco Zecchini.</p>

        <p>I am a Ph.D. student in Data Science at the <a href="https://www.dis.uniroma1.it/">Department of Computer, Control and Management Engineering (DIAG)</a> of <a href="https://www.uniroma1.it/it/pagina-strutturale/home">Sapienza University of Rome</a>.</p>
        <p>My research interests are the Internet of Things, Blockchain technologies and Digital Identity in decentralized applications.</p>

        <p>My advisor is <a href="https://andreavitaletti.github.io">Andrea Vitaletti</a>.</p>
        <br>
    </div>
    <div class="row">
      <p>
        {{ with .Content }}
          <!-- <div class="well"> 
          </div> -->
          
          {{.}}
        {{ end }}
      </p>
    </div>
  </div>
{{ end }}

